@import "../theme/theme_variables";
@import "../vendor/bootstrap/bootstrap";

@font-face{
	font-family: vcpb-plugin-icons;
	src: url(fonts/vcpb-plugin-icons.eot?f6ud62);
	src: url(fonts/vcpb-plugin-icons.eot?f6ud62#iefix) format('embedded-opentype'),
		url(fonts/vcpb-plugin-icons.ttf?f6ud62) format('truetype'),
		url(fonts/vcpb-plugin-icons.woff?f6ud62) format('woff'),
		url(fonts/vcpb-plugin-icons.svg?f6ud62#vcpb-plugin-icons) format('svg');
	font-weight: 400;
	font-style: normal;
}
.vc-composer-icon{
	font-family: vcpb-plugin-icons !important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
vc-c-icon-minimize:before {
	content: "\e91c"
}
.vc-c-icon-close:before {
	content: "\e5cd"
}
.vc-c-icon-1-6_4-6_1-6:before {
	content: "\e90e"
}
.vc-c-icon-add_template:before {
	content: "\e903"
}
.vc-c-icon-arrow_back:before {
	content: "\e5c4"
}
.vc-c-icon-arrow_drop_down:before {
	content: "\e5c5"
}
.vc-c-icon-arrow_drop_up:before {
	content: "\e5c7"
}
.vc-c-icon-arrow_forward:before {
	content: "\e5c8"
}
.vc-c-icon-check:before {
	content: "\e5ca"
}
.vc-c-icon-arrow_upward:before {
	content: "\e5d8"
}
.vc-c-icon-arrow_downward:before {
	content: "\e5db"
}
.vc-c-icon-sync:before {
	content: "\e627"
}
.vc-c-icon-search:before {
	content: "\e8b6"
}
.vc-c-icon-1-1:before {
	content: "\e900"
}
.vc-c-icon-1-2_1-2:before {
	content: "\e901"
}
.vc-c-icon-1-3_1-3_1-3:before {
	content: "\e902"
}
.vc-c-icon-1-4_1-2_1-4:before {
	content: "\e904"
}
.vc-c-icon-1-4_1-4_1-4_1-4:before {
	content: "\e905"
}
.vc-c-icon-1-4_3-4:before {
	content: "\e906"
}
.vc-c-icon-1-6_1-6_1-6_1-2:before {
	content: "\e907"
}
.vc-c-icon-1-6_1-6_1-6_1-6_1-6_1-6:before {
	content: "\e908"
}
.vc-c-icon-l_15_15_15_15_15:before {
	content: "\e909"
}
.vc-c-icon-1-6_2-3_1-6:before {
	content: "\e90a"
}
.vc-c-icon-2-3_1-3:before {
	content: "\e90b"
}
.vc-c-icon-5-6_1-6:before {
	content: "\e90c"
}
.vc-c-icon-add_element:before {
	content: "\e90d"
}
.vc-c-icon-add:before {
	content: "\e90f"
}
.vc-c-icon-cog:before {
	content: "\e910"
}
.vc-c-icon-content_copy:before {
	content: "\e911"
}
.vc-c-icon-delete_empty:before {
	content: "\e912"
}
.vc-c-icon-dragndrop:before {
	content: "\e913"
}
.vc-c-icon-fullscreen_exit:before {
	content: "\e914"
}
.vc-c-icon-fullscreen:before {
	content: "\e915"
}
.vc-c-icon-arrow_drop_right:before {
	content: "\e916"
}
.vc-c-icon-layout_default:before {
	content: "\e917"
}
.vc-c-icon-layout_landscape-smartphones:before {
	content: "\e918"
}
.vc-c-icon-layout_landscape-tablets:before {
	content: "\e919"
}
.vc-c-icon-layout_portrait-smartphones:before {
	content: "\e91a"
}
.vc-c-icon-layout_portrait-tablets:before {
	content: "\e91b"
}
.vc-c-icon-mode_edit:before {
	content: "\e91d"
}
.vc-c-icon-row_default_fe:before {
	content: "\e91e"
}
.vc-c-icon-text-block:before {
	content: "\e91f"
}
.vc_row {
	@extend .row;
}
@for $i from 1 through 12 {
	.vc_col-sm-#{$i} {
		@extend .col-sm-#{$i};
	}
	.vc_col-md-#{$i} {
		@extend .col-md-#{$i};
	}
	.vc_col-lg-#{$i} {
		@extend .col-lg-#{$i};
	}
}