 // ------------------------------------------------
// Table of Contents
// ------------------------------------------------
// 1. Page Structure
//   1.1. Header
//	   1.1.1. Navigation
//	   1.1.2. Breadcrumbs
//	   1.1.3. Page title
//	 1.2. Footer
//   1.3. Modal
//
// 2. Visual Composer
//	 2.1. Accessibility
//	 2.2. Custom Elements
//	   2.2.1. Contextual Navigation
//	   2.2.2. Icon
//	 2.3. Built-in Elements
//	   2.3.1. Rows
//	   2.3.2. Columns
//	   2.3.3. Text Box
//	   2.3.4. Accordion
//	   2.3.5. Google Maps
//	   2.3.6. Video
//	   2.3.7. Miscellaneous elements
//	 2.4. Compatibility with WPBakery Page Builder
//
// 3. HTML Tags
//	 3.1. Figures
//	 3.2. Headings
//	 3.3. Lists
//	 3.4. Links
//	 3.5. Paragraphs
//   3.6. Tables
//
// 4. Vendors
//   4.1. Google Custom Search
//   4.2. Ninja Forms
//   4.3. The Events Calendar
//
// 5. Bootstrap Customizations

// ------------------------------------------------
// 1. Page Structure
// ------------------------------------------------

// ------------------------------------------------
// 1.1. Header
// ------------------------------------------------
.sticky-top {
	padding: 0 !important;
	transition: top 0.5s;
	width: 100%;
	z-index: 1200;
}

// ------------------------------------------------
// 1.1.1. Navigation
// ------------------------------------------------
.navbar-nav {
	flex-direction: row;
}
.navbar-nav > .nav-item {
	padding-right: 1.2rem;
}
.navbar-nav > .nav-item {
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.inline .navbar-nav > .nav-item{
	padding-bottom: 2rem;
	padding-top: 2rem;
}
.nav .nav-item .nav-link {
	line-height: 1rem;
	padding: 0 !important;
	transition: color .4s;
}
.navbar-nav:hover .nav-link, .navbar-nav.focus .nav-link {
	color: $navbar-muted-color;
}
.dropdown .dropdown-menu {
	box-shadow: 0 .125rem .125rem rgba(0,0,0,.075);
	padding: 0.5rem 0 0.75rem;
	z-index: 10000;
}
.dropdown:hover > .dropdown-menu, .dropdown.show > .dropdown-menu {
	display: block;
}
.dropdown-toggle::after {
	display: none;
}
.dropdown-item {
	padding: 0.25rem 1.2rem;
}
// ------------------------------------------------
// 1.1.2. Breadcrumbs
// ------------------------------------------------
.breadcrumb-item+.breadcrumb-item::before{
	font-family: 'fontAwesome';
	content: "\f105";
}

// ------------------------------------------------
// 1.1.3. Page Title
// ------------------------------------------------
.entry-header .container {
	margin-top: .5rem;
}
.entry-title {
	margin-bottom: 0;
}

// ------------------------------------------------
// 1.2. Footer
// ------------------------------------------------
footer {
	margin-top: 2rem;
}

// ------------------------------------------------
// 1.3. Modal
// ------------------------------------------------
.modal-dialog {
	max-width: 768px !important;
}
.modal-open, .modal-open .modal {
    padding-right: 0px !important;
}
.expand-sub-navigation, .collapse-sub-navigation {
	display: none;
}
.modal-dialog .dropdown .dropdown-menu {
	margin: 10px 0 0 !important;
}
.menu-modal-navigation-container {
	width: 100% !important;

	ul {
		display: flex;
		flex-direction: column;
		margin: 20px 0;
		width: 100%;

		li:hover .dropdown-menu {
			display: none;
		}
		.dropdown-menu {
			background-color: transparent;
			box-shadow: none;
			display: none;
			font-weight: 300;
			padding: 0;
			position: relative;
			top: 0px;
			width: 100%;

			li {
				border-top: 0 !important;
				font-size: 1.2rem;
				
				a {
					white-space: normal;
				}
			}
		}

		.dropdown-item.active, .dropdown-item:active,
		.dropdown-item:focus, .dropdown-item:hover {
			background-color: transparent;
		}

		.expand-sub-navigation, .collapse-sub-navigation {
			color: #fff;
			display: block;
			font-size: 2rem !important;
			position: absolute;
			right: 0;
			top: 0.5rem;
		}
	}
	ul:not(.dropdown-menu) > li {
		border-bottom: 1px solid #444;
		font-size: 1.5rem;
		padding-right: 0;
		position: relative;
	}
}


// ------------------------------------------------
// 2. Visual Composer
// ------------------------------------------------

// ------------------------------------------------
// 2.1. Accessibility
// ------------------------------------------------
.wpb_single_image a:active, .wpb_single_image a:focus {
	outline: auto;
	outline-width: 5px;
}

// ------------------------------------------------
// 2.2. Custom Elements
// ------------------------------------------------

// ------------------------------------------------
// 2.2.1. Contextual Navigation 
// ------------------------------------------------
.contextual-navigation {
	margin-bottom: 1rem;
}
.contextual-navigation li {
	border-top: 1px solid $gray-400;
}
.contextual-navigation > li:first-child {
	border-top: 0;
}
.contextual-navigation a {
	display: block;
	padding: .2rem 0;
}
.contextual-navigation a:hover {
	text-decoration: none;
}
.contextual-navigation li.current_page_item {
	font-weight: 600;
}
.contextual-navigation li.page_item_has_children ul {
	display: none;
}
.contextual-navigation li.page_item_has_children.current_page_item ul,
.contextual-navigation li.page_item_has_children.current_page_parent ul {
	font-weight: 300;
	display: flex;
}
.contextual-navigation li ul li {
	padding-left: 0.7rem;
}
.contextual-navigation li ul a::before {
	content: "\f105";
	float: left;
	font-family: 'fontAwesome';
	margin-left: -.7rem; /* This will make links on multiple lines align nicely */
	padding-right: .4rem;
}
.contextual-navigation li ul a {
	padding-left: .2rem;
}

// ------------------------------------------------
// 2.2.2. Icon
// ------------------------------------------------
.gradpress-icon {
	font-size: 3rem;
	height: 3rem;
	text-align: center;
	width: 3rem;
}

// ------------------------------------------------
// 2.3. Built-in Elements
// ------------------------------------------------

// ------------------------------------------------
// 2.3.1. Rows
// ------------------------------------------------
main .container {
	margin-bottom: 1rem;
}
.jumbotron .container {
	margin-bottom: 0;
}
.row {
	margin-bottom: 1rem;

	&:last-child {
		margin-bottom: 0;
	}

	&.row-o-full-height {
		min-height: 100vh;
	}

	// Columns Alignment
	&.row-o-columns-top {
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
	}
	&.row-o-columns-bottom {
		-webkit-align-content: flex-end;
		-ms-flex-line-pack: end;
		align-content: flex-end;
	}
	&.row-o-columns-middle {
		-webkit-align-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
	}
	&.row-o-columns-top,
	&.row-o-columns-bottom,
	&.row-o-columns-middle {
		&::after {
		content: '';
		width: 100%;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		display: block;
		}
	}
}

// Full width row with fixed width content
.jumbotron {
	background-color: transparent;
	border-radius: 0;
	margin-bottom: 0;
	overflow: hidden;
	padding: 0 !important;
	position: relative;
}
// Background Image and Treatment
.bg-image {
	background-repeat: no-repeat;
	background-size: cover;
}
[class^="bg-overlay-"]::before, [class*=" bg-overlay-"]::before {
	content: "";
	position: absolute;
	background-repeat: repeat;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.bg-overlay-lighten::before {
	background-color: rgba( 255, 255, 255, 0.7 );
}
.bg-overlay-darken::before {
	background-color: rgba( 0, 0, 0, 0.8 );
}
.bg-overlay-diagonal::before {
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEAQMAAACTPww9AAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAABBJREFUCNdjaGBwYFBgEAAABTgA8ZOdzGcAAAAASUVORK5CYII= );
	opacity: 0.8;
}
.bg-overlay-crossline::before {
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5T/wDltzBKAAAAE0lEQVR42mJgBAIGBkwSDAACDAABRgARNiFmYgAAAABJRU5ErkJggg== );
	opacity: 0.6;
}
.bg-overlay-circles::before {
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAMAAADXEh96AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5T/wDltzBKAAAAG0lEQVR42mJgZGRgYGAEQQiLEUyjUBA5gAADAAIsABvoSfTxAAAAAElFTkSuQmCC );
	opacity: 0.7;
}
.bg-overlay-dots::before {
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAMAAACeL25MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5T/wDltzBKAAAAFUlEQVR42mJgBAIGRgYGGAEEAAEGAACMAA1JVU4gAAAAAElFTkSuQmCC );
	opacity: 0.7;
}

// ------------------------------------------------
// 2.3.2. Columns
// ------------------------------------------------
.row {
	[class^="col-"], [class*=" col-"] {
		background-clip: content-box;
		align-self: flex-start;

		[class*="col-"] {
			max-width: 100%;
			width: 100% !important;
		}
	}

	&.row-o-equal-height [class*="col-"], &.row-o-equal-height [class*=" col-"],
	&.vc_row-o-equal-height [class^="vc_col-"], &.vc_row-o-equal-height [class*=" vc_col-"] {
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		align-self: stretch;

		.vc_column_container {
			height: 100%;
		}
	}

	&.row-o-content-top [class^="col-"], &.row-o-content-top [class*=" col-"] {
		@extend .align-self-start;
	}
	&.row-o-content-middle [class^="col-"], &.row-o-content-middle [class*=" col-"] {
		@extend .align-self-center;
	}
	&.row-o-content-bottom [class^="col-"], &.row-o-content-bottom [class*=" col-"] {
		@extend .align-self-end;
	}
}

// Visual Composer adds a 35px padding top, not needed
.vc_col-has-fill > .vc_column-inner {
	padding-top: 0;
}

// ------------------------------------------------
// 2.3.3. Text Box
// ------------------------------------------------
.wpb_content_element {
	margin-bottom: 1rem;
}
// Content elements in header and footer should not have a margin bottom
header .wpb_content_element, footer .wpb_content_element {
	margin-bottom: 0;
}

// Text box with background color or border
.wpb_text_column[class^="bg-"], .wpb_text_column[class*=" bg-"], 
.wpb_text_column[class^="border-"], .wpb_text_column[class*=" border-"] {
	margin-bottom: .5rem;
	padding: 1rem;
}
.wpb_text_column[class^="bg-"]::after, .wpb_text_column[class*=" bg-"]::after,
.wpb_text_column[class^="border-"]::after, .wpb_text_column[class*=" border-"]::after {
	content: "";
	display: block;
	clear: both;
}

// Text boxes inside a column with border or background color need some padding around them
[class^="col-"][class*="bg-"], [class*=" col-"][class*="bg-"] {
	.wpb_text_column {
		padding: 1rem !important;
	}
}

// ------------------------------------------------
// 2.3.4. Accordion
// ------------------------------------------------
// No arrow at the end (section header)
h4.vc_tta-panel-title a::after {
	content: '';
}
.wpb-js-composer .vc_tta.vc_general .vc_tta-panel.px-0 .vc_tta-panel-body {
	padding-left: 0;
	padding-right: 0;
}

// ------------------------------------------------
// 2.3.5. Google Maps
// ------------------------------------------------
.wpb_map_wraper iframe {
	width: 100%;
}

// ------------------------------------------------
// 2.3.6. Video
// ------------------------------------------------
.vc_video-align-center {
	text-align: center;
}
.vc_video-align-right {
	text-align: right;
}

// ------------------------------------------------
// 2.3.7. Miscellaneous elements
// ------------------------------------------------
.vc_column-inner > :last-child {
	margin-bottom: 0;
}

// ------------------------------------------------
// 2.4. Compatibility with WPBakery Page Builder
// ------------------------------------------------
.vc_align_center {
	text-align: center;
}
.vc_align_right {
	text-align: right;
}
.vc_empty-placeholder {
	margin-bottom: 0 !important;
}

// ------------------------------------------------
// 3. HTML Tags
// ------------------------------------------------
html {
	height: 100%;
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100%; 
}
// Place footer always at the bottom
main {
	flex: 1 0 auto;
}
footer {
	flex-shrink: 0;
}

// ------------------------------------------------
// 3.1. Figures
// ------------------------------------------------
figure {
	margin-bottom: 0;
}

// ------------------------------------------------
// 3.2. Headings
// ------------------------------------------------

// Heading with background color
h2[class^="bg-"], h2[class*=" bg-"],
h3[class^="bg-"], h3[class*=" bg-"],
h4[class^="bg-"], h4[class*=" bg-"] {
	padding: .5rem 1rem;
	margin-bottom: 1rem;
}

// ------------------------------------------------
// 3.3. Lists
// ------------------------------------------------
ul, ol {
	padding-left: 1.8rem;
}
.wpb_content_element ul:not([class]) li {
	padding-bottom: .5rem;
}

// ------------------------------------------------
// 3.4. Links
// ------------------------------------------------
h2[class^="bg-"] a::after, h2[class*=" bg-"] a::after,
h3[class^="bg-"] a::after, h3[class*=" bg-"] a::after,
h4[class^="bg-"] a::after, h4[class*=" bg-"] a::after {
	font-family: fontAwesome;
	content: "\f105";
	float: right;   
}
h2.entry-title a::after, h3.entry-title a::after {
	content: "";
}
main .wpb_content_element p a, main .wpb_content_element ol a,
main .wpb_content_element ul a, .hentry p a {
	text-decoration: underline;
}
.gradpress-header h2 a, .gradpress-header h3 a, .gradpress-header h4 a {
	display: block;
}

// ------------------------------------------------
// 3.5. Paragraphs
// ------------------------------------------------
p:last-child {
	margin-bottom: 0;
}

// ------------------------------------------------
// 3.6. Tables
// ------------------------------------------------
.wpb_text_column table {
	border: 1px solid #bbb;
	width: 100%;
}
.wpb_text_column thead tr {
	background-color: #ddd;
}
.wpb_text_column tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}
.wpb_text_column td {
	padding: 5px;
}

// ------------------------------------------------
// 4. Vendors
// ------------------------------------------------

// ------------------------------------------------
// 4.1. Google Custom Search
// ------------------------------------------------
.gsc-adBlock, .gcsc-more-maybe-branding-root {
	display: none !important;
}
.gsc-control-cse, .gs-result div {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1rem !important;
	height: auto !important;
	line-height: 1.5rem;
	padding: 0 !important;
}
.gsc-search-box-tools {
	margin-bottom: 1rem !important;
}
.gsc-webResult .gsc-result {
	border: none transparent !important;
	margin-bottom: 1rem !important;
}
.gs-title, .gsc-control-cse .gs-result .gs-title * {
	font-size: 1.5rem !important;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 0.5rem;
}
.gs-title a, .gsc-control-cse .gs-result .gs-title * {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	text-decoration-color: transparent !important;
}
.gsc-thumbnail, .gsc-above-wrapper-area {
	display: none;
}
.gsc-cursor-box {
	margin: 0 !important;
}
.gsc-cursor-page {
	line-height: 2rem;
	padding-right: 1rem;
}
.gsc-cursor-box {
	border-top: 1px solid #ccc !important;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
	background-color: transparent !important;
}

// ------------------------------------------------
// 4.2. Ninja Forms
// ------------------------------------------------
.nf-field-element {
	@extend .form-group;
}
.ninja-forms-field {
	@extend .form-control;
}

// ------------------------------------------------
// 4.3. The Events Calendar
// ------------------------------------------------
#tribe-events-pg-template, .tribe-events-pg-template {
	max-width: initial !important;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-row {
	border-top: 1px solid #ccc;
	margin: 0 !important;
    padding: 30px 0 20px;
}
.tribe-events-calendar-list__month-separator + .tribe-common-g-row.tribe-events-calendar-list__event-row {
	border-top: 0;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event {
	flex-direction: row;
}
.single-tribe_events header.entry-header {
	display: block !important;
}
.tribe-common [class*="tribe-common-"],
.tribe-events .tribe-events-c-view-selector__list-item-text,
.tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input, .tribe-common .tribe-common-form-control-text__input {
	font-family: $font-family-base !important;
}
.tribe-events-calendar-list__event-datetime {
	opacity: .64;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-date-tag {
	width: 10%;
}
.tribe-common--breakpoint-medium.tribe-common .tribe-common-g-row--gutters {
	margin: 0;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-datetime-wrapper, .tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-title {
	margin-bottom: 5px;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-featured-image-wrapper {
	height: 170px;
	overflow: hidden;
	padding: 0 !important;
	width: 27.5%;
}

// ------------------------------------------------
// 5. Bootstrap Customizations
// ------------------------------------------------
*[class^="text-white"] a, *[class*=" text-white"] a {
	color: $white !important;
}
*[class^="text-dark"] a, *[class*=" text-dark"] a {
	color: $dark !important;
}