// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

// ------------------------------------------------
// Table of Contents
// ------------------------------------------------
// 1. Global Definitions
//	1.1. Borders
//	1.2. Colors
//	1.3. FontAwesome
//	1.4. Typography
//
// 2. Bootstrap Layout
//	2.1. Breadcrumbs
//	2.2. Navigation
//	2.3. Search
//
// 3. Bootstrap Components
//	3.1. Input and Buttons


// ------------------------------------------------
// 1. Global definitions
// ------------------------------------------------

// ------------------------------------------------
// 1.1. Borders
// ------------------------------------------------
$border-radius: 0;

// ------------------------------------------------
// 1.2. Colors
// ------------------------------------------------
$primary: #005daa;
$secondary: #ec9c1d;
$success: #00a94f;
$info: #8dc63f;
$warning: #882345;
$danger: #ff0000;
$light: #ededed;
$dark: #444444;

// ------------------------------------------------
// 1.3. FontAwesome
// ------------------------------------------------
$fa-font-path: "fonts" !default;

// ------------------------------------------------
// 1.4. Typography
// ------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
$font-family-sans-serif: "Open Sans", "Segoe UI", "Helvetica Neue", -apple-system, BlinkMacSystemFont, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-weight-base: 400;
$font-weight-bolder: 600 !default;
$headings-font-weight: 600;
$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.3rem;
$h4-font-size: 1.1rem;
$display1-size: 2rem;
$display1-weight: 300;

// ------------------------------------------------
// 2. Bootstrap Layout
// ------------------------------------------------

// ------------------------------------------------
// 2.1. Breadcrumbs
// ------------------------------------------------
$breadcrumb-bg: transparent;
$breadcrumb-font-size: 0.85rem;
$breadcrumb-margin-bottom: 0.5rem;
$breadcrumb-padding-x: 0;
$breadcrumb-padding-y: 0;

// ------------------------------------------------
// 2.2. Navigation
// ------------------------------------------------
$dropdown-border-radius: 0;
$dropdown-border-width: 0;
$dropdown-item-padding-x: 1rem;
$dropdown-link-active-color: rgb( 45, 45, 45 );
$dropdown-link-active-bg: rgb( 235, 235, 235 );
$dropdown-spacer: 0;
$navbar-dark-color: rgb( 235, 235, 235 ) !default;
$navbar-dark-hover-color: rgb( 255, 255, 255 ) !default;
$navbar-light-color: rgb( 20, 20, 20 ) !default;
$navbar-light-hover-color: rgb( 0, 0, 0 ) !default;
$navbar-muted-color: rgb( 128, 128, 128 ) !default;
$navbar-nav-link-padding-x: .7rem;
$navbar-padding-y: 0;

// ------------------------------------------------
// 2.3. Search 
// ------------------------------------------------
$close-font-size: 2rem;
$modal-backdrop-opacity: .93;
$modal-lg: inherit;

// ------------------------------------------------
// 3. Bootstrap Components
// ------------------------------------------------

// ------------------------------------------------
// 3.1. Input and Buttons
// ------------------------------------------------
$btn-border-width: 0;
$input-focus-box-shadow: none;